body {
    min-width: 100vw;
    min-height: 100vh;
}

:root {
    --mdc-theme-primary: #007bff;
    --mdc-theme-secondary: #007bff;
    --dark-backgroud: #343a40;
    color-scheme: only light;
}

body {
    background-color: white;
}

.nav-menu {
    z-index: 100;
    position: fixed;
    background-color: white;
    box-sizing: border-box;
    display: block;
    left: -64px;
    transition: all 0.5s ease;
    height: 100vh;
    max-width: 64px;
}

.nav-menu.open {
    left: 0px;
}

.main {
    position: relative;
    top: 64px;
}

.b-text-field .datalist {
    width: 100%;
    display: none;
    max-height: 386px;
    height: auto;
    overflow: auto;
    border: solid 1px rgba(0, 0, 0, 0.24);
    border-radius: 3px;
    position: absolute;
    top: 182px;
    background: white;
    z-index: 10;
}

.b-text-field .datalist.open {
    display: grid;
}

.b-text-field .datalist .mdc-list-item {
    display: grid;
}

.b-text-field .datalist .mdc-list-item:hover {
    color: white;
    background-color: var(--mdc-theme-primary);
}


.b-text-field .datalist .mdc-list-item .value {
    width: 100%;
}

.b-text-field .datalist .mdc-list-item .label {
    width: 100%;
    font-size: smaller;
}

.settings {
    margin: 0 18%;
    padding-top: 40px;
    transition: 0.6s;
    overflow-x: hidden;
}

.settings div.text {
    width: 100%;
}

.settings label, div.new_task div.bcheckbox label {
    line-height: 40px;
}

.settings .mdc-text-field label {
    line-height: revert;
    top: 22px;
    bottom: auto;
}

.settings .text-box div.text:not(.helper, #s-port) .mdc-text-field {
    min-width: 50%;
}

.settings .text-box div.text.helper>div {
    min-width: 50%;
}

.settings .text-box div.text.helper .mdc-text-field {
    min-width: 100%;
}

.settings #s-port .mdc-text-field {
    min-width: 100px;
}

.settings div.text.helper {
    display: flex;
}

.settings div.text.helper label {
    margin-top: 14px;
}

.settings div.text.helper.outlined label {
    margin-top: 7px;
}

.settings div.text.outlined .mdc-text-field label {
    top: 14px;
}

.settings div.text.outlined .mdc-text-field.mdc-text-field--focused label {
    top: 22px;
}

.settings div.text.outlined.label {
    margin-top: 6px;
}

.settings .text-box {
    margin: 0 10px;
}

.settings .text-box .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings .text-box .text .mdc-text-field::after {
    width: 0;
}

.settings .text-box .text .mdc-text-field::before {
    width: 0;
}

.settings .ua {
    position: relative;
}

.settings .ua>button {
    position: absolute;
    top: 30px;
    left: -10px;
}

.task_manager {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.task_amounts {
    display: flex;
    height: 64px;
}

.btn-success {
    background-color: #28a745
}

.btn-warning {
    background-color: #ffc107
}

.btn-danger {
    background-color: #dc3545
}

.btn-primary {
    background-color: #007bff
}

.dark-scheme {
    background: var(--dark-backgroud);
    color: white;
    color-scheme: dark;
}

.dark-scheme .mdc-top-app-bar {
    background-color: black;
}

.dark-scheme .mdc-text-field__input {
    color: white !important;
}

.dark-scheme .mdc-select__native-control {
    color: white !important;
}

.dark-scheme .mdc-text-field__input {
    color: white !important;
}

.dark-scheme .mdc-floating-label {
    color: white !important;
}

.dark-scheme .mdc-select-item {
    background-color: black !important;
}

.dark-scheme .mdc-list {
    background-color: #272727;
}

.dark-scheme .mdc-list-item {
    color: white;
}

.dark-scheme .mdc-notched-outline__idle {
    color: white !important;
}

.dark-scheme .mdc-dialog__surface {
    background-color: var(--dark-backgroud);
}

.dark-scheme .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__idle {
    border-color: white;
}

.dark-scheme .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__input:hover~.mdc-notched-outline__idle, .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__icon:hover~.mdc-notched-outline__idle {
    border-color: var(--mdc-theme-primary);
}

.dark-scheme .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate)~.mdc-checkbox__background {
    border-color: white;
}

.mdc-top-app-bar__section--align-end>* {
    margin: 0 5px;
}

.task_manager .new_task {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

div.new_task {
    overflow: auto;
    width: 100vw;
    height: calc(100vh - 64px);
    max-width: 100vw;
    max-height: calc(100vh - 64px);
}

div.new_task>div.container {
    position: relative;
    margin: auto;
    height: calc(100% - 5% - 64px);
    min-width: 400px;
    width: calc(100% - 20%);
    margin-top: 2.5%;
}

div.new_task .top {
    display: flex;
    min-height: 40px;
    line-height: 40px;
    justify-content: space-between;
    align-items: center;
}

div.new_task .top .title {
    margin-left: 40px;
    width: calc(100% - 80px);
    font-size: 24px;
    text-align: center;
}

div.new_task>div.container>div.content {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 80px);
    min-height: 300px;
}

div.new_task>div.container>div.bottom {
    line-height: 40px;
    min-height: 40px;
}

div.new_task div.content .text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
}

div.new_task div.content .text .mdc-text-field {
    margin: 1px;
    width: calc(100% - 2px);
    position: relative;
}

.regiest-box{
    overflow: auto;
    width: 100vw;
    height: calc(100vh - 64px);
    max-width: 100vw;
    max-height: calc(100vh - 64px);
}

.regiest-content{
    position: relative;
    margin: auto;
    height: calc(100% - 5% - 64px);
    min-width: 400px;
    width: calc(100% - 20%);
    margin-top: 2.5%;
}

.regiest-content > div:nth-child(-n + 2) {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
}

.regiest-content > div:nth-child(-n + 2) > * {
    margin: 1px;
    width: calc(100% - 2px);
    position: relative;
}

.regiest-action-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    margin: 0 36px;
}

.dark-scheme {
    --md-sys-color-primary: #D0BCFF;
    --md-sys-color-primary-container: #4F378B;
    --md-sys-color-on-primary: #371E73;
    --md-sys-color-on-primary-container: #EADDFF;
    --md-sys-color-inverse-primary: #6750A4;
    --md-sys-color-secondary: #CCC2DC;
    --md-sys-color-secondary-container: #4A4458;
    --md-sys-color-on-secondary: #332D41;
    --md-sys-color-on-secondary-container: #E8DEF8;
    --md-sys-color-tertiary: #EFB8C8;
    --md-sys-color-tertiary-container: #633B48;
    --md-sys-color-on-tertiary: #492532;
    --md-sys-color-on-tertiary-container: #FFD8E4;
    --md-sys-color-surface: #141218;
    --md-sys-color-surface-dim: #141218;
    --md-sys-color-surface-bright: #3B383E;
    --md-sys-color-surface-container-lowest: #0F0D13;
    --md-sys-color-surface-container-low: #1D1B20;
    --md-sys-color-surface-container: #211F26;
    --md-sys-color-surface-container-high: #2B2930;
    --md-sys-color-surface-container-highest: #36343B;
    --md-sys-color-surface-variant: #49454F;
    --md-sys-color-on-surface: #E6E1E5;
    --md-sys-color-on-surface-variant: #CAC4D0;
    --md-sys-color-inverse-surface: #E6E1E5;
    --md-sys-color-inverse-on-surface: #313033;
    --md-sys-color-background: #141218;
    --md-sys-color-on-background: #E6E1E5;
    --md-sys-color-error: #F2B8B5;
    --md-sys-color-error-container: #8C1D18;
    --md-sys-color-on-error: #601410;
    --md-sys-color-on-error-container: #F9DEDC;
    --md-sys-color-outline: #938F99;
    --md-sys-color-outline-variant: #444746;
    --md-sys-color-shadow: #000000;
    --md-sys-color-surface-tint-color: #D0BCFF;
    --md-sys-color-scrim: #000000;
}

.b-text-field.md3.label md-outlined-text-field {
    margin-top: 6px;
}

@media (max-width:1280px) {
    .settings {
        margin: 0;
        padding-top: 10px;
    }
}

@media (max-width:810px) {
    .settings {
        padding-top: 0;
    }

    .settings>div:not(.check-box) label {
        line-height: normal;
    }

    .settings .ua>button {
        position: relative;
        top: 0;
    }

    .settings .text-box .text {
        flex-direction: column;
        align-items: start;
    }

    .settings .text-box .mdc-text-field {
        margin: 1px;
        width: 100%;
    }

    .settings .text-box .label .mdc-text-field {
        margin-top: 5px;
    }

    .settings .text-box div.text.helper>div {
        min-width: 100%;
    }

    button.mdc-button {
        margin: 5px;
    }
}

@media (max-width: 599px) {
    .main {
        top: 56px;
    }

    div.new_task>div.container {
        margin: 5px;
        min-width: 0;
        height: calc(100% - 74px);
        width: calc(100% - 10px);
    }
}
