.nav-menu {
    z-index: 100;
    position: fixed;
    background-color: white;
    box-sizing: border-box;
    display: block;
    left: -64px;
    transition: all 0.5s ease;
    height: 100vh;
    max-width: 64px;
}

.nav-menu.open {
    left: 0px;
}

.main {
    position: relative;
    top: 64px;
}

.settings div.text {
    width: 100%;
}

.settings label {
    line-height: 40px;
}

.settings .mdc-text-field label {
    line-height: revert;
    top: 22px;
    bottom: auto;
}

.settings #s-cookies .mdc-text-field {
    min-width: 50%;
}

.settings div.text.helper {
    display: flex;
}

.settings div.text.helper label {
    margin-top: 14px;
}

.settings div.text.outlined .mdc-text-field label {
    top: 14px;
}

.settings div.text.outlined .mdc-text-field.mdc-text-field--focused label {
    top: 22px;
}

.settings div.text.outlined.helper {
    margin-top: 5px;
}
